<#
    Session["ResourceFile"] = "FileContextStrings.resx";
    Session["LoggingDefinitionsClass"] = "Diagnostics.Internal.FileContextLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>